/* 中间内容 *************************************************************************************************/
#center {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* header *************************************************************************************************/
header {
    z-index: 5;
    background-color: rgba(255, 255, 255, 0.9);
    /* position: fixed; */
    padding: 10px;
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.top-nav-button {
    font-size: 16px;
    color: #000;
    background-color: #fff;
    border-radius: 5px;
    width: 60px;
    height: 30px;
    border: none;
}
.content {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: rgba(255, 255, 255, 0.9);
    padding-top: 10px;
    width: 100%;
    flex: 1;
}
.content::-webkit-scrollbar {
    display: none !important;
}
footer {
    font-size: 2vh;
    height: 50px;
    color: #000;
    padding: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(255, 255, 255, 0.9); */
}
footer a {
    color: #000;
}
/* 返回顶部按钮 */
#top-btn {
    width: 45px;
    height: 45px;
    display: none;
    position: absolute;
    bottom: 15px;
    right: 15px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    border-radius: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2) !important;
}
@media screen and (min-width: 1440px) {
    #top-btn {
        right: 100px !important;
    }
}
#top-btn:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff !important;
}
/* top-nav *************************************************************************************************/
#top-nav-container {
    transition: transform 0.65s ease;
    /* height: 100%; */
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.top-nav-container {
    display: none !important;
}
.top-nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.65);
}
.top-nav > a {
    color: rgba(255, 255, 255, 0.65);
    width: 100%;
    padding-left: 60px;
    padding-top: 0.85rem;
    padding-bottom: 0.85rem;
    /* padding: 0.85rem; */
}
.top-nav > a:hover {
    color: rgba(255, 255, 255, 0.5);
    background: #030303;
}
.top-category {
    width: 100%;
}
.top-category-list {
    width: 100%;
}
.top-category a,
.top-category label {
    display: block;
    padding-top: 0.85rem;
    padding-right: 0.85rem;
    padding-bottom: 0.85rem;
    padding-left: 5px;
    color: rgba(255, 255, 255, 0.65);
    /* background-color: #151515; */
    /* box-shadow: inset 0 -1px #1d1d1d; */
    /* transition: all 0.25s ease-in; */
}
.top-category a:focus,
.top-category a:hover,
.top-category label:focus,
.top-category label:hover {
    color: rgba(255, 255, 255, 0.5);
    background: #030303;
}

.top-category label {
    padding-left: 60px;
    cursor: pointer;
}

.top-category-list-1st > i {
    padding-right: 15px;
}

.top-category-list-sub a,
.top-category-list-sub label {
    padding-left: 2rem;
    /* background: #252525;
    box-shadow: inset 0 -1px #373737; */
}
.top-category-list-sub a:focus,
.top-category-list-sub a:hover,
.top-category-list-sub label:focus,
.top-category-list-sub label:hover {
    background: #131313;
}

.sub-top-category-list-sub a,
.sub-top-category-list-sub label {
    padding-left: 4rem;
    /* background: #353535; */
    box-shadow: inset 0 -1px #474747;
}
.sub-top-category-list-sub a:focus,
.sub-top-category-list-sub a:hover,
.sub-top-category-list-sub label:focus,
.sub-top-category-list-sub label:hover {
    background: #232323;
}

.sub-sub-top-category-list-sub a,
.sub-sub-top-category-list-sub label {
    padding-left: 6rem;
    /* background: #454545; */
    box-shadow: inset 0 -1px #575757;
}
.sub-sub-top-category-list-sub a:focus,
.sub-sub-top-category-list-sub a:hover,
.sub-sub-top-category-list-sub label:focus,
.sub-sub-top-category-list-sub label:hover {
    background: #333333;
}

.top-category-list-sub,
.sub-top-category-list-sub,
.sub-sub-top-category-list-sub {
    padding-left: 60px;
    height: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

.top-category-list input[type="checkbox"]:checked + label + ul {
    /* reset the height when checkbox is checked */
    max-height: 1000px;
}
#top-category-list-1-icon {
    float: left !important;
    padding-right: 20px;
}

label > span {
    float: right;
    transition: transform 0.65s ease;
}

.top-category-list input[type="checkbox"]:checked + label > span:not(#top-category-list-1-icon) {
    transform: rotate(90deg);
}
