/* 页脚透明 */
#footer{
  background: transparent!important;
}
/* 头图透明 */
#page-header{
  background: transparent!important;
}
/*top-img黑色透明玻璃效果移除，不建议加，除非你执着于完全一图流或者背景图对比色明显 */
#page-header.post-bg:before {
  background-color: transparent!important;
}
/*夜间模式伪类遮罩层透明*/
[data-theme="dark"]
  #footer::before{
      background: transparent!important;
    }
[data-theme="dark"]
  #page-header::before{
    background: transparent!important;
    }
/* 关注按钮 */
#card-info-btn{
    background-color: #535353!important;
  }
#pagination{
    opacity: 0;
}
/* @font-face{
    font-family: 'huayuan';
    src: url('/fonts/huayuan.ttf');
}
body{
    font-family: 'huayuan';
} */
#go-up,#readmode,#darkmode,#rightside_config,#mobile-toc-button,#to_comment,#hide-aside-btn{
    background-color: #535353!important;
}
.blog-slider__button,.swiper-pagination-bullet,.swiper-pagination-bullet-active{
    background-color: #535353!important;
}
/* .tk-admin[data-v-45b8c260]::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}
.tk-admin[data-v-45b8c260]::-webkit-scrollbar-track {
    background-color: transparent;
}
.tk-admin[data-v-45b8c260]::-webkit-scrollbar-thumb {
    background-color: #ffffff50;
} */
/* 滚动条 */
::-webkit-scrollbar-thumb {
    background-color: #535353!important;
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.4) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.4) 50%,rgba(255,255,255,.4) 75%,transparent 75%,transparent);
    border-radius: 3em;
}
::-webkit-scrollbar-track {
    background-color: #ffffff!important;
    border-radius: 3em;
}
::-webkit-scrollbar {
    width: 8px;
    height: 15px;
}
