@charset "utf-8";
:root {
    /* 通用颜色 */

    /* 左栏颜色 */
    --left-background-color: rgba(255, 255, 255, 0.9);
    --left-text-color: rgba(0, 0, 0, 0.8);
    --left-text-color-hover: rgba(51, 51, 51, 0.5);
    --left-background-color-hover: #f6f6f6;
    /* 头部导航颜色 */
    --top_nav-background-color: #f6f6f6;
    --top_nav-text-color: rgba(0, 0, 0, 0.8);
    --top_nav-text-color-hover: rgba(0, 0, 0, 0.8);
    --top_nav-background-color-hover: #f6f6f6;
    --top_nav-color-hover: #f6f6f6;
    /* 代码部分颜色 */
}
* {
    box-sizing: border-box;
}

li {
    list-style: none;
}
html,
body {
    scroll-behavior: smooth;
}
html {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    width: 100%;
    height: 100%;
    /* background-color: #151515; */
    background-color: #f6f6f6;
    /* background-image: url(/img/2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; */
    /* display: flex; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.body-container {
    background-color: #f6f6f6;
    width: 920px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* 响应式布局 */
@media screen and (max-width: 920px) {
    .body-container {
        width: 100% !important;
    }
    .right {
        display: none;
    }
    #left {
        display: none !important;
    }
    #center {
        width: 100% !important;
    }
}
/* @media screen and (max-width: 780px) {
    .article,
    .article-list-container {
        padding-top: 0 !important;
    }
} */
@media screen and (min-width: 920px) {
    #top-nav-container,
    header {
        display: none !important;
    }
}
/* 滚动条 *************************************************/
/* ::-webkit-scrollbar-thumb {
    background-color: #000;
}
::-webkit-scrollbar-track {
    display: none;
}
::-webkit-scrollbar {
    max-width: 5px;
}
::-webkit-scrollbar-button {
    display: none;
} */
/* ::-webkit-scrollbar-button {
    display: none !important;
} */

/* vssue评论 ************************************************************************************************/
.vssue {
    color: rgba(0, 0, 0, 0.65) !important;
}
.vssue-header {
    display: none;
}
.vssue .vssue-new-comment .vssue-new-comment-input:disabled {
    background-color: rgba(255, 255, 255, 0.7) !important;
}
.vssue .vssue-button:not(:disabled).vssue-button-primary {
    color: rgba(0, 0, 0, 0.65) !important;
    border-color: rgba(0, 0, 0, 0.65) !important;
}
/* .vssue .vssue-new-comment .vssue-new-comment-input{
    border: 1px solid rgba(0, 0, 0, 0.65) !important;
} */
.vssue-status {
    color: rgba(0, 0, 0, 0.65) !important;
}
.vssue .vssue-new-comment .vssue-new-comment-input {
    background-color: rgba(255, 255, 255, 0.7) !important;
}
.vssue-pagination-select {
    border: 1px solid rgba(255, 255, 255, 0) !important;
}
.vssue :not(.vssue-comment-content) a {
    color: #a3aab1 !important;
}
.vssue-pagination {
    display: none !important;
}

/* 单页面标题 */
.page-info-title {
    width: 100%;
    /* height: 50px; */
    margin-top: 18px;
    margin-bottom: 18px;
    font-size: 32px;
    font-weight: 700;
    word-break: break-all;
    color: rgba(0, 0, 0, 0.65);
    padding-left: 20px;
    line-height: 36px;
    transition: all 0.4s ease 0s;
}
.page-info-title:hover {
    color: rgba(0, 0, 0, 0.8);
    letter-spacing: 1px;
    -webkit-text-fill-color: #fff;/*文字的填充色*/
    -webkit-text-stroke: 1px #000;
    cursor: pointer;
}
